$font-lato:'Lato', sans-serif;
$font-oxygen:'Oxygen', sans-serif;
$font-light:300;
$font-bold:800;



$color-black:#000;
$grey-bg-nav:#474747;
$color-base:#fff;
$color-light-orange:#ff6e50;
$color-orange:#ffae00;
$color-orange-light:#ffc600;
$color-orangered:#fc7100;
$color-deeppink:#e51c5e;
$color-purple:#ae0f8d;
$color-indigo:#6d0fae;
$color-darkblue:#33227a;
$color-skyblue:#0c8fcc;
$color-seagreen:#02baab;
$color-grey:#eee;
$color-darkgrey:#666;
$color-lightgrey:#ccc;
$color-blue-fb:#3b5998;
$color-blue-tw:#00a0d1;
$color-red-yt:#c4302b;
$color-brown-ins:#825c48;
$color-deeppink:#a30834;
$color-heading-grey:#3b4954;
$color-section-grey:#525252;
$color-text-post:#555555;
$color-border-post:#c3c3c3;
$color-nickname:#c4c4c4;
$color-contact-info:#85939f;
$color-light-black:#3d3d3d;
$color-input-border:#434a50;
$color-bg-header:#464646;
$color-welcome:#8e8e8e;
$color-blue:#1f2a32;
$color-light-border:#cbcbcb;
$color-transparent:#f5f5f6;
$color-brown:#c69c6d;
$color-grey-form:#ebf0f3;


$indents:0.625rem;